/*#region Black*/

$clrBlack100: #0a0a0a;
$clrBlack200: #0f0f0f;
$clrBlack300: #141414;
$clrBlack400: #1a1a1a;
$clrBlack500: #1f1f1f;
$clrBlack600: #242424;
$clrBlack700: #292929;
$clrBlack800: #2e2e2e;
$clrBlack900: #333333;

/*#endregion*/

/*#region Gray*/

$clrGray100: #808080;
$clrGray200: #8c8c8c;
$clrGray300: #999999;
$clrGray400: #a6a6a6;
$clrGray500: #b3b3b3;
$clrGray600: #bfbfbf;
$clrGray700: #cccccc;
$clrGray800: #d9d9d9;
$clrGray900: #e5e5e5;
$clrGray950: #f7f7f7;

/*#endregion*/

/*#region Green*/

$clrGreen900: #00f2da;
$clrGreen800: #00d9c3;
$clrGreen700: #00bfac;
$clrGreen600: #00a695;

$clrGreen500: #008b7c;

$clrGreen400: #007367;
$clrGreen300: #005950;
$clrGreen200: #004039;
$clrGreen100: #002622;

/*#endregion*/

/*#region Yellow*/

$clrYellow900: #f3bc00;

$clrYellow800: #d9a600;
$clrYellow700: #bf9300;
$clrYellow600: #a67f00;
$clrYellow500: #8c6c00;
$clrYellow400: #735800;
$clrYellow300: #594400;
$clrYellow200: #403100;
$clrYellow100: #261d00;

/*#endregion*/

/*#region Blue*/

$clrBlue900: #00a4fc;
$clrBlue800: #0094e3;

$clrBlue700: #0083c9;

$clrBlue600: #0072b0;
$clrBlue500: #006296;
$clrBlue400: #00517d;
$clrBlue300: #004163;
$clrBlue200: #00304a;
$clrBlue100: #001f30;

/*#endregion*/

/*#region Orange*/

$clrOrange900: #eb5d0c;

$clrOrange800: #d1530a;
$clrOrange700: #b84909;
$clrOrange600: #9e3f08;
$clrOrange500: #853507;
$clrOrange400: #6b2b05;
$clrOrange300: #522104;
$clrOrange200: #381603;
$clrOrange100: #1f0c02;

/*#endregion*/

/*#region Purpule*/

$clrPurple900: #be7ceb;
$clrPurple800: #aa6fd1;
$clrPurple700: #9561b8;

$clrPurple600: #80549e;

$clrPurple500: #6c4685;
$clrPurple400: #57396b;
$clrPurple300: #422b52;
$clrPurple200: #2e1e38;
$clrPurple100: #19101f;

/*#endregion*/

$clrRed900: #c0191f;
